---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$heading-font-weight: 600;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fff;
$background-color: #1E8BC3;
$brand-color:      #ddd;
$highlight-color:  #FFC11B;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        868px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

body ::-webkit-selection, [contenteditable]::-webkit-selection {
	background: $highlight-color;
}

body ::-moz-selection, [contenteditable]::-moz-selection {
	background: $highlight-color;
}

body ::selection, [contenteditable]::selection {
	background: $highlight-color;
}

/* Aesthetics */
input, [contenteditable] {
  border:1px solid black;
  display:inline-block;
  width: 150px;
  height: 20px;
  line-height: 20px;
  padding: 3px;
}


// Import partials from `sass_dir` (defaults to `_sass`)
@import "base", "layout";
