<!-- Content -->
  <section id="bio">
    <header>
      <h1>Hi.</h1>
      <p>I'm a 22-year old <a href="https://en.wikipedia.org/wiki/Computer_science">computer science</a> <a href="http://www.carleton.ca/">student</a> who likes to program and work out in his spare time.</p>
      <p>This site is just a place for me to put some of my projects, ideas, tips and tricks, in hopes that someone will find them useful or interesting.</p>
      <p>If you're here because you're looking for how to become a decent programmer. You can accomplish that by <em>programming things</em>. Seriously. Go to <a href="http://www.codecademy.com/learn">Codecademy</a>, make amazing stuff and be awesome.</p>
      <p>If you need for workout advice, I don't know anything. I'll probably just tell you to do <a href="http://stronglifts.com/5x5/">Stronglifts 5x5</a> and eat <a href="https://www.youtube.com/user/furiouspete123">everything in sight</a>.</p>
    </header>
  </section>

  <section id="projects">
    <header>
      <h2>My Projects</h2>
    </header>
    <div class="row">
      <article class="6u 12u$(xsmall) work-item">
        <a href="http://abefehr.com/parity/" class="image fit thumb"><img src="images/thumbs/parity.jpg" alt="" /></a>
        <h3>Parity</h3>
        <p>A numbers puzzle game</p>
      </article>
      <article class="6u$ 12u$(xsmall) work-item">
        <a href="http://abefehr.com/cubify/" class="image fit thumb"><img src="images/thumbs/cubify.jpg" alt="" /></a>
        <h3>Cubify</h3>
        <p>Create beautiful cube mosaics, easily</p>
      </article>
    </div>
    <ul class="actions" style="text-align:center;">
      <li><a href="https://github.com/abejfehr/" class="button">See more on Github <span class="icon fa-"></span></a></li>
    </ul>
  </section>

  <style>
  #technologies h2, #projects h2, #contact h2 {
    text-align:center;
  }

  #technologies ul {
    list-style-type:none;
    padding:0;
    display:inline-block;
    width:100%;
    margin:0;
  }

  #technologies li {
    line-height:1.5em;
    float:left;
    text-align:center;
    display:inline;
    width:25%;
    height:50px;
  }

  #technologies span {
    display:block;
    text-align:center;
    margin:0 auto;
  }

  #technologies a {
    border:none;
  }
  </style>
  <section id="technologies">
    <header>
      <h2>Technologies I love</h2>
    </header>
    <ul>
      <li><a href="http://www.w3schools.com/js/default.asp">JavaScript</a></li>
      <li><a href="http://jquery.com/">jQuery</a></li>
      <li><a href="https://angularjs.org/">Angular</a></li>
      <li><a href="http://nodejs.org/">NodeJS</a></li>
      <li><a href="http://coffeescript.org/">CoffeeScript</a></li>
    </ul>
  </section>


  <section id="contact">
    <h2>Get In Touch</h2>
    <p>Have questions? Feel free to contact me by sending an email with the form below.</p>
    <div class="row">
      <div class="12u 12u$(small)">
        <form method="post" action="//formspree.io/abe.fehr@gmail.com">
          <div class="row uniform 50%">
            <div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" required></div>
            <div class="6u$ 12u$(xsmall)"><input type="email" name="_replyto" id="email" placeholder="Email" required></div>
            <div class="12u$"><textarea name="message" id="message" placeholder="Hey..." rows="4" required></textarea></div>
            <ul class="actions">
              <li><input type="submit" value="Send Message"></li>
            </ul>
          </div>
          <input type="hidden" name="_subject" value="abefehr.com - contact form" />
          <input type="text" name="_gotcha" style="display:none" />
        </form>
      </div>
      <!--<div class="4u$ 12u$(small)">
        <ul class="labeled-icons">
          <li>
            <h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
            <a href="mailto:abe.fehr@gmail.com">abe.fehr@gmail.com</a>
          </li>
        </ul>
      </div>-->
    </div>
  </section>