<style>
  :root {
    --black: #555;
  }

  html {
    font-family: system-ui, sans-serif;
    /*font-family: "Signika", sans-serif;*/
    color: var(--black);
  }

  h1 {
    font-family: 'Signika', sans-serif;
  }

  /* reset */
  html, body {
    margin: 0;
  }

  figure {
    margin: 0;
  }

  figcaption {
    font-style: italic;
    font-size: 12px;
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  /* navbar styles */
  header {
    max-width: 650px;
    margin: 0 auto;
    padding: 10px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header a {
    text-decoration: none;
    color: var(--black);
  }

  header nav a:hover {
    text-decoration: underline;
  }

  header > a {
    display: inline-block;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    font-size: 22px;
    transition: color 50ms linear;
  }

  header > a:hover {
    color: black;
  }

  nav {
    display: inline;
  }

  nav ul {
    display: inline;
  }

  nav ul li {
    display: inline;
  }
</style>
