<style>
  :root {
    color-scheme: light dark;
    --black: light-dark(#555, #777);
  }

  body {
    background-color: light-dark(#fff, #000);
  }

  html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--black);
  }

  /* reset */
  html, body {
    margin: 0;
  }

  figure {
    margin: 0;
  }

  figcaption {
    font-style: italic;
    font-size: 12px;
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  /* navbar styles */
  header {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr auto;
  }
  @media screen and (max-width: 670px) {
    header {
      max-width: 650px;
      padding: 20px;
    }
  }

  header > a {
    grid-column: 1;
  }

  header > nav {
    grid-column: 3;
  }

  header a {
    text-decoration: none;
    color: light-dark(gray, #999);
  }

  header nav a:hover {
    text-decoration: underline;
  }

  header > a {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    transition: color 50ms linear;
  }

  header > a:hover {
    color: light-dark(black, white);
  }

  nav {
    display: inline;
  }

  nav ul {
    display: inline;
  }

  nav ul li {
    display: inline;
  }

  /* Container */
  .container {
    max-width: 650px;
    margin: 0 auto;
  }

  @media screen and (max-width: 670px) {
    .container {
      margin: 0 20px;
    }
  }

  /* Markdown */
  .highlighter-rouge {
    margin: 13px 0;
  }
  pre.highlight {
    margin: 0;
    padding: 20px;
  }

  /* Posts page */
  h2.post-year {
    font-size: 60px;
  }
  ul.post-list {
    list-style-type: none;
    padding: 0;
  }
  ul.post-list li {
    margin: 10px 0;
    font-size: 18px;
  }
  ul.post-list li a {
    color: var(--black);
    font-weight: 600;
  }
  ul.post-list li .meta {
    font-size: 14px;
    color: gray;
  }

</style>
