/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
body {
  background: $background-color;
  color: $text-color;
  font-family: Helvetica, sans-serif;
  height: 100%;
  overflow: hidden;
  background-color: $background-color;
  color: $text-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  text-size-adjust: 100%;
  font-feature-settings: 'kern' 1;
  font-kerning: normal;
}
main {
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
section {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
}
.container {
  height: 100%;
  overflow-y: visible;
  padding: 0 $spacing-unit;
}
section::-webkit-scrollbar {
  display: none;
}
.container::-webkit-scrollbar {
  display: none;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * Lists
 */
ul, ol {
  margin-left: $spacing-unit;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
}

/**
 * Links
 */
a {
  color: $text-color;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    color: $text-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

body ::-webkit-selection, [contenteditable]::-webkit-selection {
  background: $highlight-color;
}

body ::-moz-selection, [contenteditable]::-moz-selection {
  background: $highlight-color;
}

body ::selection, [contenteditable]::selection {
  background: $highlight-color;
}
