.main-title {
  font-size: 64pt;
  line-height: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}

.links {
  i {
    font-size: 24pt;
    margin: 3px;
  }
  a {
    margin-left: 10px;
    vertical-align: middle;
  }
}

main {
    animation: sexyFadeIn 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(5%);
}

@keyframes sexyFadeIn {
    0% {
        opacity: 0;
        transform: translateY(10%);
    }
    30%  { opacity: 0; }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@include media-query($on-laptop) {
  main {
    display: block;
    overflow-y: scroll;
  }
  section {
    width: auto;
  }
}

@include media-query($on-palm) {
  /* Just in case I want to put stuff here */
}
