.main-title {
  font-size: 64pt;
  line-height: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 20px;
}

.projects-title {
  font-size: 56px;
  margin-top: 30px;
}

ul {
    margin: 0;
    padding: 0;
}

.project-link {
  font-size: 48px;
  margin-top: -7px;
  list-style-type: none;
}

.links {
  i {
    font-size: 48pt;
    margin: 3px;
  }
}

main {
    animation: sexyFadeIn 2s;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateY(5%);
}

@keyframes sexyFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10%);
  }
  30%  { opacity: 0; }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include media-query($on-laptop) {
  main {
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  section {
    width: auto;
  }
  .links {
    text-align: center;
  }
}

@include media-query($on-palm) {
  /* Just in case I want to put stuff here */
}
